
<div class="fullH "id="explore">
</div>
<div class="footer-bottom">
  <div class="foo-left">
    <div class="fool-head" style="color: #FFF!important;;">Lets Talk</div>
    <div class="fool-subhead">Feel free to say Hello!</div>
    <form>
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <textarea placeholder="Message"></textarea>
      <input type="button" value="SUBMIT">
    </form>
  </div>
  <div class="foo-right">
    <a class="foor-foot">D & D By Blueciphers</a>
    <div class="foor-head">ROTAVIO LABS</div>
    <div class="foor-cont">ROTAVIO LABS <span>&copy</span> ALL RIGHTS RESERVED 2016</div>
  </div>
</div>
